{% if is_paginated %}
<div class="row">
	<div class="col-md-12 text-center">
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span><i class="fa fa-chevron-left"></i></span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span><i class="fa fa-chevron-left"></i></span>
          </a>
        </li>
      {% endif %}

      {% for page in page_range %}
      
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span><i class="fa fa-chevron-right"></i></span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span><i class="fa fa-chevron-right"></i></span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
	</div>
</div>
{% endif %}