<div class="chat-window-wrapper visible">
	<div id="main-chat-wrapper" class="inner-content">
		<div class="scroll-wrapper chat-window-wrapper scroller scrollbar-dynamic visible" style="position: relative;">
			<div class="chat-window-wrapper scroller scrollbar-dynamic scroll-content scroll-scrolly_visible visible" id="chat-users" style="margin-bottom: 0px; margin-right: 0px; display: block; height: 594px;">				
				<div class="side-widget">
					<div class="side-widget-title">group chats</div>
					<div class="side-widget-content">
						<div id="groups-list">
							<ul class="groups">
								<li>
									<a href="#">
										<div class="status-icon green"></div>
										Office work
									</a>
								</li>
								<li>
									<a href="#">
										<div class="status-icon green"></div>
										Personal vibes
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="side-widget fadeIn">
					<div class="side-widget-title">Views</div>
					<div id="favourites-list">
						<div class="side-widget-content">
							<div class="user-details-wrapper">
								<div class="user-profile">
									<img src="assets/img/profiles/d2x.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
								</div>
								<div class="user-details">
									<div class="user-name">
										Jane Smith
									</div>
								</div>
								<div class="" >
									<span class="badge badge-success" style="margin-left:10px">13 views</span>
								</div>
							</div>
							<div class="user-details-wrapper">
								<div class="user-profile">
									<img src="assets/img/profiles/d2x.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
								</div>
								<div class="user-details">
									<div class="user-name">
										Jane Smith
									</div>
								</div>
								<div class="" >
									<span class="badge badge-success" style="margin-left:10px">10 views</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="side-widget">
					<div class="side-widget-title">more friends</div>
					<div class="side-widget-content" id="friends-list">
						<div class="user-details-wrapper" data-chat-status="online" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="Jane Smith">
							<div class="user-profile">
								<img src="assets/img/profiles/d2x.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="user-name">
									Jane Smith
								</div>
								<div class="user-more">
									Hello you there?
								</div>
							</div>
							<div class="user-details-status-wrapper">
							</div>
							<div class="user-details-count-wrapper">
								<div class="status-icon green"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
							<div class="user-profile">
								<img src="assets/img/profiles/h2x.jpg" alt="" data-src="assets/img/profiles/h.jpg" data-src-retina="assets/img/profiles/h2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="user-name">
									David Nester
								</div>
								<div class="user-more">
									Busy, Do not disturb
								</div>
							</div>
							<div class="user-details-status-wrapper">
								<div class="clearfix"></div>
							</div>
							<div class="user-details-count-wrapper">
								<div class="status-icon red"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="user-details-wrapper" data-chat-status="online" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="Jane Smith">
							<div class="user-profile">
								<img src="assets/img/profiles/c2x.jpg" alt="" data-src="assets/img/profiles/c.jpg" data-src-retina="assets/img/profiles/c2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="user-name">
									Jane Smith
								</div>
								<div class="user-more">
									Hello you there?
								</div>
							</div>
							<div class="user-details-status-wrapper">
							</div>
							<div class="user-details-count-wrapper">
								<div class="status-icon green"></div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="user-details-wrapper" data-chat-status="busy" data-chat-user-pic="assets/img/profiles/d.jpg" data-chat-user-pic-retina="assets/img/profiles/d2x.jpg" data-user-name="David Nester">
							<div class="user-profile">
								<img src="assets/img/profiles/h2x.jpg" alt="" data-src="assets/img/profiles/h.jpg" data-src-retina="assets/img/profiles/h2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="user-name">
									David Nester
								</div>
								<div class="user-more">
									Busy, Do not disturb
								</div>
							</div>
							<div class="user-details-status-wrapper">
								<div class="clearfix"></div>
							</div>
							<div class="user-details-count-wrapper">
								<div class="status-icon red"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-element scroll-x scroll-scrolly_visible">
				<div class="scroll-element_outer">
					<div class="scroll-element_size"></div>
					<div class="scroll-element_track"></div>
					<div class="scroll-bar" style="width: 89px;"></div>
				</div>
			</div>
			<div class="scroll-element scroll-y scroll-scrolly_visible">
				<div class="scroll-element_outer">
					<div class="scroll-element_size"></div>
					<div class="scroll-element_track"></div>
					<div class="scroll-bar" style="height: 581px; top: 9px;"></div>
				</div>
			</div>
		</div>
		<div class="chat-window-wrapper visible" id="messages-wrapper" style="display: none;">
			<div class="chat-header">
				<div class="pull-left">
					<input placeholder="search" type="text">
				</div>
				<div class="pull-right">
					<a href="#" class="">
						<div class="iconset top-settings-dark "></div>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="chat-messages-header">
				<div class="status"></div>
				<span class="semi-bold">Jane Smith</span>
				<a href="#" class="chat-back"><i class="icon-custom-cross"></i></a>
			</div>
			<div class="scroll-wrapper chat-messages scrollbar-dynamic clearfix" style="position: relative;">
				<div class="chat-messages scrollbar-dynamic clearfix scroll-content" style="margin-bottom: 0px; margin-right: 0px; height: 776px;">
					<div class="inner-scroll-content clearfix">
						<div class="sent_time">Yesterday 11:25pm</div>
						<div class="user-details-wrapper ">
							<div class="user-profile">
								<img src="assets/img/profiles/d2x.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="bubble">
									Hello, You there?
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="sent_time off">Yesterday 11:25pm</div>
						</div>
						<div class="user-details-wrapper ">
							<div class="user-profile">
								<img src="assets/img/profiles/d2x.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="bubble">
									How was the meeting?
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="sent_time off">Yesterday 11:25pm</div>
						</div>
						<div class="user-details-wrapper ">
							<div class="user-profile">
								<img src="assets/img/profiles/d2x.jpg" alt="" data-src="assets/img/profiles/d.jpg" data-src-retina="assets/img/profiles/d2x.jpg" width="35" height="35">
							</div>
							<div class="user-details">
								<div class="bubble">
									Let me know when you free
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="sent_time off">Yesterday 11:25pm</div>
						</div>
						<div class="sent_time ">Today 11:25pm</div>
						<div class="user-details-wrapper pull-right">
							<div class="user-details">
								<div class="bubble sender">
									Let me know when you free
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="sent_time off">Sent On Tue, 2:45pm</div>
						</div>
					</div>
				</div>
				<div class="scroll-element scroll-x">
					<div class="scroll-element_outer">
						<div class="scroll-element_size"></div>
						<div class="scroll-element_track"></div>
						<div class="scroll-bar" style="width: 96px;"></div>
					</div>
				</div>
				<div class="scroll-element scroll-y">
					<div class="scroll-element_outer">
						<div class="scroll-element_size"></div>
						<div class="scroll-element_track"></div>
						<div class="scroll-bar" style="height: 96px;"></div>
					</div>
				</div>
			</div>
			<div class="chat-input-wrapper" style="display: none;">
				<textarea id="chat-message-input" rows="1" placeholder="Type your message"></textarea>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>