
 <div class="chat-window-wrapper">
        <div id="main-chat-wrapper" class="inner-content">
          <div class="chat-window-wrapper scroller scrollbar-dynamic" id="chat-users">
			<div class="chat-window-wrapper scroller scrollbar-dynamic scroll-content scroll-scrolly_visible visible" id="chat-users" style="margin-bottom: 0px; margin-right: 0px; display: block; height: 1000%;">				
				<div class="side-widget">
					<div class="side-widget-title"></div>
					<div class="side-widget-content">
						<div id="groups-list">
							<ul class="groups">
								<li>
									<a href="{% url 'blog:user_profile' %}">
										<div class="status-icon green"></div>
										Profile
									</a>
								</li>
								<li>
									<a href="#">
										<div class="status-icon green"></div>
										Personal vibes
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="side-widget fadeIn">
					<div class="side-widget-title">Views</div>
					<div id="favourites-list">
						<div class="side-widget-content">
							{% for article in most_read_articles %}
								<a href="{{ article.get_absolute_url }}">
									<div class="user-details-wrapper">
										
										<div class="user-details">
											
											<div class="user-name">
												
												{{article.title|truncatechars:17|escape|striptags|safe }}
												
											</div>
											
										</div>
										<div class="" >
											<span class="badge badge-success" style="margin-left:10px">{{article.views}} views</span>
										</div>
									</div>
								</a>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="side-widget">
					<div class="side-widget-title">최신 글</div>
					<div class="side-widget-content" id="friends-list">
						{% for article in recent_articles %}
							<a href="{{ article.get_absolute_url }}">
								<div class="user-details-wrapper">
			                    <div class="user-details">
			                      <div class="user-name">
			                        {{article.title|truncatechars:17}}
			                      </div>
			                      <div class="user-more">
			                        {{article.body|striptags|truncatechars:20}}
			                      </div>
			                    </div>
			                    
			                    <div class="clearfix"></div>
			                  </div>
							</a>
						{% endfor %}
						
					</div>
				</div>
				 
				<div class="scroll-element scroll-y scroll-scrolly_visible">
					<div class="scroll-element_outer">
						<div class="scroll-element_size"></div>
						<div class="scroll-element_track"></div>
						<div class="scroll-bar" style="height: 1000px; top: 9px;"></div>
					</div>
				</div>

			</div>
		
		</div>
		
	</div>
</div>