<div class="page-sidebar " id="main-menu">
	<!-- BEGIN MINI-PROFILE -->
	<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
		<div class="user-info-wrapper sm">
			<div class="profile-wrapper sm">
				<img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" width="69" height="69" />
				<div class="availability-bubble online"></div>
			</div>
			<div class="user-info sm">
				<div class="username">Fred <span class="semi-bold">Smith</span></div>
				<div class="status">Life goes on...</div>
			</div>
		</div>
		<!-- END MINI-PROFILE -->
		<!-- BEGIN SIDEBAR MENU -->
		<p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i class="material-icons">refresh</i></a></span></p>
		<ul>
			<li class="">
				<a href="javascript:;"> <i class="material-icons">more_horiz</i> <span class="title">Menu Levels</span> <span class=" arrow"></span> </a>
				<ul class="sub-menu">
					<li> <a href="javascript:;"> Level 1 </a> </li>
					<li>
						<a href="javascript:;"> <span class="title">Level 2</span> <span class=" arrow"></span> </a>
						<ul class="sub-menu">
							<li> <a href="javascript:;"> Sub Menu </a> </li>
							<li> <a href="javascript:;"> Sub Menu </a> </li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		
		<div class="side-bar-widgets">
			<p class="menu-title sm">FOLDER <span class="pull-right"><a href="#" class="create-folder"> <i class="material-icons">add</i></a></span></p>
			<ul class="folders">
				<li>
					<a href="#">
						<div class="status-icon green"></div>
						My quick tasks 
					</a>
				</li>
				<li>
					<a href="#">
						<div class="status-icon red"></div>
						To do list 
					</a>
				</li>
				<li>
					<a href="#">
						<div class="status-icon blue"></div>
						Projects 
					</a>
				</li>
				<li class="folder-input" style="display:none">
					<input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="">
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<!-- END SIDEBAR MENU -->
	</div>
</div>
