<div class="page-sidebar " id="main-menu">
	<!-- BEGIN MINI-PROFILE -->
	<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
		<div class="user-info-wrapper sm">

			<div class="user-info sm">
				<div class="username">{{ SITE_NAME }}</div>
				<div class="status">{{SITE_DESCRIPTION }}</div>
			</div>
		</div>
		<!-- END MINI-PROFILE -->
		<!-- BEGIN SIDEBAR MENU -->
		<p class="menu-title sm"></p>
			
			{% for nav in nav_category_list.all %}
				<ul>					
				{% if nav.parent_category == None %}

					<li>
						<a href="{{ nav.get_absolute_url }}">
							<i class="material-icons">{{ nav.icon }}</i>
							<span class="title">{{nav.name}}</span>
							<span class="label label-important  "></span>
							<span class="arrow"></span>
						</a>
						
						<ul class="sub-menu">
						{% for sub_category in nav_category_list.all %}
						
							{% if sub_category.parent_category == nav %}
							
								<li> <a href="{{ sub_category.get_absolute_url }}"> {{ sub_category.name }} </a> </li>
							
							{% endif %}
						{% endfor %}
						</ul>
		            </li>
				{% endif %}
				</ul>			
			{% endfor %}

		<div class="side-bar-widgets">
			<p class="menu-title sm">전체페이지</p>
			<ul class="folders">
				{% if nav_pages %}
					{% for node in nav_pages %}
						{% if node.type == 'p'%}
						<li>
							<a href="{{node.get_absolute_url}}">
								<div class="status-icon green"></div>
								{{ node.title }}
							</a>
						</li>
						{% endif %}
					{% endfor %}
				{% endif %}
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
