{% extends 'share_layout/base_layout.html' %}
{% load static %}

{% block content %}
{{server_size}}
	<div class="content">
	<div class="page-title">
		<i class="icon-custom-left"></i>
		<h3>Charts</h3>
	</div>
	<span id="view-selector-container" style="display: none" ></span>
	<div class="row">
		<div class="col-md-5">
			<div class="grid simple">
				<div class="grid-title no-border">
					<h4>Sparkline <span class="semi-bold">Charts</span></h4>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="#grid-config" data-toggle="modal" class="config"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="grid-body no-border">
					<h3>Google Analytics</h3>
					<div id="active-users-container"></div>
				</div>
				<div class="tiles white no-margin"> <span id="spark-2"></span> </div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="tiles white no-margin">
				<div class="tiles-body">
					<div class="controller">
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
					<div class="tiles-title"> SERVER LOAD </div>
					<div class="heading text-black "> 250 GB </div>
					<div class="progress  progress-small no-radius progress-success">
						<div class="bar animate-progress-bar" data-percentage="25%"></div>
					</div>
					<div class="description"> <span class="mini-description"><span class="text-black">250GB</span> of <span class="text-black">1,024GB</span> used</span>
					</div>
				</div>
			</div>
			<div class="tiles white no-margin">
				<div id="updatingChart"> </div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="grid simple">
				<div class="grid-title no-border">
					<h4>Traffic <span class="semi-bold">Sessions and Users</span></h4>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="grid-body no-border">
					<div class="row">
						<div class="col-md-12">
							<div id="chart-1-container"></div>
							<div id="date-range-selector-1-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="grid simple">
				<div class="grid-title no-border">
					<h4>Popular</h4>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="grid-body no-border">
					<h4>Page views, last 15 days</h4>
					<br>                  
					<div id="chart-2-container"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="grid simple">
				<div class="grid-title no-border">
					<h4>Audience</h4>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="grid-body no-border">
					<div class="row-fluid">
						<h4>Countries, last 15 days</h4>
						<br>
						<div id="chart-5-container"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="grid simple">
				<div class="grid-title no-border">
					<h4>Morris <span class="semi-bold">Charts</span></h4>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
						<a href="#grid-config" data-toggle="modal" class="config"></a>
						<a href="javascript:;" class="reload"></a>
						<a href="javascript:;" class="remove"></a>
					</div>
				</div>
				<div class="grid-body no-border">
					<div class="row">
						<div class="col-md-6">
							<h4>Morris <span class="semi-bold">Line Charts</span></h4>
							<p> Line graphs are probably the most widely used graph for showing trends. Chart.js has a ton of customisation features for line graphs, along with support for multiple datasets to be plotted on one chart. </p>
							<div id="main-chart-container"></div>
						</div>
						<div class="col-md-6">
							<h4>Morris <span class="semi-bold">Area Charts</span></h4>
							<p> Line graphs are probably the most widely used graph for showing trends. Chart.js has a ton of customisation features for line graphs, along with support for multiple datasets to be plotted on one chart. </p>
							<div id="breakdown-chart-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}

  

{% block compress_js %}
	<script>
    (function(w,d,s,g,js,fs){
      g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
      js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
      js.src='https://apis.google.com/js/platform.js';
      fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
    }(window,document,'script'));
    </script>
    <!-- Include the ActiveUsers component script. -->
    <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/active-users.js"></script>
    <script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/view-selector2.js"></script>
	<script src="https://ga-dev-tools.appspot.com/public/javascript/embed-api/components/date-range-selector.js"></script>
    <script>
     
   gapi.analytics.ready(function () {

	/**
	 * Authorize the user with an access token obtained server side.
	 */
	gapi.analytics.auth.authorize({
		'serverAuth': {
			'access_token': '{{ token }}'
		}
	});


	var viewSelector = new gapi.analytics.ext.ViewSelector2({
		container: 'view-selector-container',
	}).execute();

	var dateRange1 = {
		'start-date': '7daysAgo',
		'end-date': '1daysAgo'
	};


	
	var dateRangeSelector1 = new gapi.analytics.ext.DateRangeSelector({
			container: 'date-range-selector-1-container'
		}).set(dateRange1)
		.execute();

	dateRangeSelector1.on('change', function (data) {
		dataChart1.set({
			query: data
		}).execute();

		// Update the "from" dates text.
		var datefield = document.getElementById('from-dates');
		datefield.textContent = data['start-date'] + '—' + data['end-date'];
	});


	var dataChart1 = new gapi.analytics.googleCharts.DataChart({
		query: {
			'ids': 'ga:{{ view_id }}',
			'metrics': 'ga:sessions,ga:users',
			'dimensions': 'ga:date'
		},
		chart: {
			'container': 'chart-1-container',
			'type': 'LINE',
			'options': {
				'width': '100%'
			}
		}
	}).set({
		query: dateRange1
	});

	dataChart1.execute();

	

	var dataChart2 = new gapi.analytics.googleCharts.DataChart({
		query: {
			'ids': 'ga:{{ view_id }}',
			'start-date': '15daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:pageviews',
			'dimensions': 'ga:pagePath',
			'sort': '-ga:pageviews',
			'max-results': 7
		},
		chart: {
			'container': 'chart-2-container',
			'type': 'PIE',
			'options': {
				'width': '100%',
				'pieHole': 4 / 9,
			}
		}
	});
	dataChart2.execute();

	var dataChart3 = new gapi.analytics.googleCharts.DataChart({
		query: {
			'ids': 'ga:{{ view_id }}',
			'start-date': '15daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:sessions',
			'dimensions': 'ga:browser',
			'sort': '-ga:sessions',
			'max-results': 7
		},
		chart: {
			'container': 'chart-3-container',
			'type': 'LINE',
			'options': {
				'width': '100%',
				'pieHole': 4 / 9,
			}
		}
	});
	dataChart3.execute();

	var dataChart4 = new gapi.analytics.googleCharts.DataChart({
		query: {
			'ids': 'ga:{{ view_id }}',
			'start-date': '15daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:sessions',
			'dimensions': 'ga:source',
			'sort': '-ga:sessions',
			'max-results': 7
		},
		chart: {
			'container': 'chart-4-container',
			'type': 'PIE',
			'options': {
				'width': '100%',
				'pieHole': 4 / 9,
			}
		}
	});
	dataChart4.execute();

	var dataChart5 = new gapi.analytics.googleCharts.DataChart({
		query: {
			'ids': 'ga:{{ view_id }}',
			'start-date': '15daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:sessions',
			'dimensions': 'ga:country',
			'sort': '-ga:sessions',
			'max-results': 7
		},
		chart: {
			'container': 'chart-5-container',
			'type': 'PIE',
			'options': {
				'width': '100%',
				'pieHole': 4 / 9,
			}
		}
	});
	dataChart5.execute();

	var dataChart6 = new gapi.analytics.googleCharts.DataChart({
		query: {
			'ids': 'ga:{{ view_id }}',
			'start-date': '15daysAgo',
			'end-date': 'yesterday',
			'metrics': 'ga:socialInteractions',
			'dimensions': 'ga:socialInteractionNetwork',
			'sort': '-ga:socialInteractions',
			'max-results': 7
		},
		chart: {
			'container': 'chart-6-container',
			'type': 'PIE',
			'options': {
				'width': '100%',
				'pieHole': 4 / 9,
			}
		}
	});
	dataChart6.execute();
	
	
	
	 var mainChart = new gapi.analytics.googleCharts.DataChart({
    query: {
      'dimensions': 'ga:browser',
      'metrics': 'ga:sessions',
      'sort': '-ga:sessions',
      'max-results': '6'
    },
    chart: {
      type: 'TABLE',
      container: 'main-chart-container',
      options: {
        width: '100%'
      }
    }
  });

  var breakdownChart = new gapi.analytics.googleCharts.DataChart({
    query: {
      'dimensions': 'ga:date',
      'metrics': 'ga:sessions',
      'start-date': '7daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      type: 'LINE',
      container: 'breakdown-chart-container',
      options: {
        width: '100%'
      }
    }
  });


  /**
   * Store a refernce to the row click listener variable so it can be
   * removed later to prevent leaking memory when the chart instance is
   * replaced.
   */
  var mainChartRowClickListener;


  /**
   * Update both charts whenever the selected view changes.
   */
  viewSelector.on('change', function(ids) {
    var options = {query: {ids: ids}};

    // Clean up any event listeners registered on the main chart before
    // rendering a new one.
    if (mainChartRowClickListener) {
      google.visualization.events.removeListener(mainChartRowClickListener);
    }

    mainChart.set(options).execute();
    breakdownChart.set(options);

    // Only render the breakdown chart if a browser filter has been set.
    if (breakdownChart.get().query.filters) breakdownChart.execute();
  });


  /**
   * Each time the main chart is rendered, add an event listener to it so
   * that when the user clicks on a row, the line chart is updated with
   * the data from the browser in the clicked row.
   */
  mainChart.on('success', function(response) {

    var chart = response.chart;
    var dataTable = response.dataTable;

    // Store a reference to this listener so it can be cleaned up later.
    mainChartRowClickListener = google.visualization.events
        .addListener(chart, 'select', function(event) {

      // When you unselect a row, the "select" event still fires
      // but the selection is empty. Ignore that case.
      if (!chart.getSelection().length) return;

      var row =  chart.getSelection()[0].row;
      var browser =  dataTable.getValue(row, 0);
      var options = {
        query: {
          filters: 'ga:browser==' + browser
        },
        chart: {
          options: {
            title: browser
          }
        }
      };

      breakdownChart.set(options).execute();
    });
  });

	var activeUsers = new gapi.analytics.ext.ActiveUsers({
		container: 'active-users-container',
		pollingInterval: 5
	});

	viewSelector.on('viewChange', function (data) {
		// Start tracking active users for this view.
		activeUsers.set(data).execute();
	});




});
    </script>
     
{% endblock compress_js %}
   