{% extends 'share_layout/base_layout.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block content %}
  
<div class="content">
	{% if page_type and tag_name %}

	<div class="page-title">
		<h3>{{ page_type }}  - <span class="semi-bold">{{ tag_name }}</span></h3>
	</div>
	
	{% endif %}
            
	<div class="row">
		<div class="col-vlg-2 col-md-2">
              <div class="grid simple vertical blue">
                <div class="grid-body no-border" style="display: block;">
                  <div class="row">
                    <div class="col-md-12">
                      <h3><i class="material-icons">label</i><span class="semi-bold">Tags</span></h3>
                      <br>
	                      <p> <a href="{{ SITE_BASE_URL }}" class="btn {% if not tag_name %} btn-success {% endif %}">전체보기</a></p>
	                      {% for tag in all_tags %}
							{% if tag.get_article_count %}
								<p> <a href='{{ tag.get_absolute_url }}'> <button type="button" class="btn {% if tag_name == tag.name %} btn-success {% endif%}">{{tag.name}} {{ tag.get_article_count }}개</button></a>
							{% endif %}
			              {% endfor %}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

		</div>
        <div  class="col-vlg-10 col-md-10">
		{% for article in article_list %}
			<div class="m-b-10">
				<div class="widget-item ">
					<div class="tiles white ">
						<div class="tiles-body">
							<div class="row">
								<div class="user-profile-pic text-left">
									<div class="pull-right m-r-20 m-t-35"> <span class="bold text-black small-text">등록일 {{ article.pub_time|date:'Y-m-d'}} / 조회수 {{article.views}}</span> </div>
								</div>
								<div class="col-md-5 no-padding">
									<div class="user-comment-wrapper">
										<div class="comment">
											<a href="{{ article.get_absolute_url }}"> <div class="user-name text-black bold"> {{ article.title }} </div> </a>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-md-0 no-padding">
									<div class="clearfix"></div>
									<div class="m-r-20 m-t-20 m-b-10  m-l-10">										
										<a href='{{ article.get_absolute_url }}'> <p class="p-b-10">{{ article.body|striptags|truncatechars:120  }} </p></a>
											{% for tag in article.tags.all %}
												<a href="{{tag.get_absolute_url}}" class="hashtags m-b-5"> #{{tag.name}} </a>	
											{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% empty %}
			<div class="m-b-10">
				<div class="widget-item ">
					<div class="tiles white ">
						<div class="tiles-body">
							<div class="row">
								
								<div class="col-md-5 no-padding">
									<div class="user-comment-wrapper">
										<div class="comment">
											<div class="user-name text-black bold"> 등록된 게시물을 찾을수 없습니다. </div>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
        {% endfor %}
        </div>
        {% include 'share_layout/pagination.html'%}
	</div>
	
</div>
{% endblock content %}